*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

/* Style for mobile devices */
@media only screen and (max-width: 768px) {
    /* Additional style to hide the navbar by moving it out of view */
    nav.hide {
      top: -100px; /* Adjust this value based on the height of your navbar */
    }
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

nav a:hover {
    color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-of-type(even) {
    background-color: #eee;
  }

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #8887877b;
}

th {
    background-color: f2f2f2;
}

select {
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fffffffa;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }

select:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

select:select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.shot {
    padding: 4px;
    border: 2px solid darkgray;
}

.sighter {
    padding: 4px;
    border: 2px solid blue;
}   

.converted {
    text-decoration: line-through;
}

.score-posible {
    color: red;
}