<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malvern Rifle Club Scores - Add Scores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Submit Scores</h1>
    <p>
        <ol>
            <li>Select a competition from the list below</li>
            <li>Select a match or create a new one</li>
            <li>Enter shooter detail and results</li>
        </ol>
    </p>
    <form method="POST" action="{{ url_for('add_score') }}">
        <table>
            <tr class="head_table">
                <th>Competition</th>
                <th>Match</th>
                <th>Range</th>
                <th>Date</th>
            </tr>
            <tr>
                <!-- Select competition from options in database or create new comptition-->
                <td id="competition_select">
                    <select>
                        {% for comp in competitions %}
                        <option value="match_ids: {{ comp.match_id }}">{{ comp.competition }}</option>
                        {% endfor %}
                        <option value="new_comp">New Competition</option>
                    </select>
                </td>
                <!-- Select a match from the competition or create a new match-->
                <td id="match_select">
                    <select>
                        {% for matchs in match_name %}
                            <option id="match_name"> {{ matchs.match_name }}</option>
                        {% endfor %}
                        <option value="new_match">New Match</option>
                    </select>
                </td>
                <td>
                    <!-- TODO: Dynamically update based on selected match-->
                    <h3 id="distance">300y</h3>
                </td>
                <td id="match_date">
                    <input type="date" name="date" id="date_picker" value="" required>
                </td>
            </tr>
        </table>
        <p id="competition_description">Please pick a competition to start</p>
        <table id="score_input">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Class</th>
                <th>Shots</th>
                <th>Total Score</th>
            </tr>
            <!-- Table rows are created dynamically using JavaScript below -->
        </table>
        <input type="submit" value="Submit">
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        const match_type = match_type_data('{{ match_type|tojson }}')
    </script>
</body>
</html>