{% extends 'base.html' %}
{% block title %}Rifle Scores | All scores{% endblock %}
{% block content %}
<h1>All Recorded Scores in Database</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Competition</th>
        <th>Match name</th>
        <th>Date</th>
        <th>Count Out</th>
        <th>Score</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Competition</th>
        <th>Match name</th>
        <th>Date</th>
        <th>Count Out</th>
        <th>Score</th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
        <td>{{ result[3] }}</td>
        <td>{{ result[7] }}</td>
        <td>{% for score in result[4] %}
            {% if result[5][loop.index0]  == True %}
            <span class="shot"><span class="converted">{{ score }}</span></span>
            {% else %}
            <span class="shot">{{ score }}</span> 
            {% endif %}
        {% endfor %} </td>
        <td>{{ result[6] }}</td>
    </tr>       
    {% endfor %}
</table>
{% endblock %}