{% extends 'base.html' %}
{% block title %}Rifle Scores | Competition Results{% endblock %}
{% block content %}
<h1>Competition Results</h1>
Compeition:
<select  id="competition_select" title="Select relevent competition" name="competition" onchange="matchs_load()">
    {% for comp in competitions %}
    <option value="{{ comp[0] }}" {% if selected_competition == comp[0] %}  selected {% endif %}>{{ comp[0] }}</option>
    {% endfor %}
</select>
Match:
<select id="match_select" title="Select match in competition" name="match_id" onchange="show_competition_results()"></select>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    //Store selected competition in session storage to be used when reloading page
    window.onload = function () {
            var selected_comp = sessionStorage.getItem("selected_comp");
            document.getElementById("competition_select").value = selected_comp;

            document.getElementById("competition_select").addEventListener("change", function () {
                var selval = this.value;
                if (selval == "new_competition") {return} //If new competition is selected, do nothing
                sessionStorage.setItem("selected_comp", selval);
            })
            matchs_load()
        }
        async function matchs_load(){
            await get_competition_matches()
            //Wait for get_competition_matches() to finish before calling show_competition_results()
            //TODO: Check that match_select is updated with options before calling show_competition_results()
            await new Promise( resolve => setTimeout(resolve, 600)) 
            await show_competition_results()
        }
    </script>
{% endblock %}