{% extends 'base.html' %}
{% block title %}Rifle Scores | Competition Results{% endblock %}
{% block content %}
<h1>Competition Results</h1>
Compeition:
<select  id="competition_select" title="Select relevent competition" name="competition" onchange="update_matches()">
    {% for comp in competitions %}
    <option value="{{ comp[0] }}" {% if selected_competition == comp[0] %}  selected {% endif %}>{{ comp[0] }}</option>
    {% endfor %}
</select>
Match:
<!-- Onchange for match_select is broken due to how add_new_match_option() is being asigned as an event to the select in get_competition_matches()-->
<select id="match_select" title="Select match in competition" name="match_id" onchange="console.log('hello');"></select>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    //Store selected competition in session storage to be used when reloading page
    window.onload = function () {
            var selected_comp = sessionStorage.getItem("selected_comp");
            document.getElementById("competition_select").value = selected_comp;

            document.getElementById("competition_select").addEventListener("change", function () {
                var selval = this.value;
                if (selval == "new_competition") {return} //If new competition is selected, do nothing
                sessionStorage.setItem("selected_comp", selval);
            })
            //TODO: call funtion to load scores totals by match for selected competition
            get_competition_matches()
            show_competition_results()
        }
</script>
{% endblock %}