[Unit]
Description=Gunicorn instance to serve target-rifle-scores
After=network.target

[Service]
#Replace all 'username' with account username
User=username
Group=usergroup
WorkingDirectory=/home/username/target-rifle-scores
Enviroment="PATH=/home/username/target-rifle-scores/bin"
#Set --workers to number of cpu threads available
#For Local Nginx SSL Proxy
#ExecStart=/home/username/target-rifle-scores/bin/gunicorn --workers 2 --bind unix:target-rifle-scores.sock -m 007 app:app
#For Seperate Server SSL Proxy
#ExecStart=/home/username/target-rifle-scores/bin/gunicorn --workers 2 --bind 0.0.0.0:5000 app:app
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target