[Unit]
Description=Gunicorn instance to serve target-rifle-scores
After=network.target

[Service]
User=username
Group=www-data
WorkingDirectory=/home/username/target-rifle-scores
Enviroment="PATH=/home/username/target-rifle-scoresbin"
#For Local Nginx SSL Proxy
#ExecStart=/home/username/target-rifle-scores-main/bin/gunicorn --workers 2 --bind unix:target-rifle-scores.sock -m 007 app:app
#For Seperate Server SSL Proxy
#ExecStart=/home/username/target-rifle-scores-main/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 app:app
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target